.linksList {
  --pink: deeppink;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
  background-color: #222;
  color: var(--pink);
}

.link {
  padding: 0.5rem;
  border: 2px solid var(--pink);
  border-radius: 0.3125rem;
}

.activeLink {
  color: #222;
  background-color: var(--pink);
}
