.contactItem {
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 5px royalblue;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.contactItem:hover {
  transform: scale(1.05);
}
