.contactItem {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 5px royalblue;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.contactItem:hover {
  transform: scale(1.01);
}

.favouriteBtn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
