* {
  box-sizing: border-box;
}

:root {
  font-size: 1em;
}

body {
  font-family: sans-serif;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}
